body {
    background-color: #DECCCC;
    
}

a {
    padding: 10px 40px; 
    text-decoration: none;  
}

a:link {
    color: white;
}

a:visited {
    color: rgb(158, 106, 142);
}

a:hover {
    background-color: white;
}

a:active {
    color: black;
}

#container {
    width: 620px;
    height: 405px;
    margin: 70px auto;
    background-color: #ffffff;
    padding: 20px;
    position: relative;
    

}

#perfil {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    position: relative;
    top: -65px;
    left: 265px;

    
}


#titulo {
    font-family: 'Open Sans', Arial, sans-serif;
    color: #000000;
    text-align: center;
    font-weight: 100;
    position: relative;
    top: -60px;
    left: 5px;
}




.coluna1 {

    font-family: 'Segoe UI', Arial, sans-serif; 
    font-size: 15px;
    width: 300px;
    height: 400px;
    text-align: left;
    position: relative;
    top: -50px;
    
}

.coluna2 {
    font-family: 'Segoe UI', Arial, sans-serif; 
    font-size: 15px;
    width: 300px;
    height: 400px;
    position: absolute;
    top: 132px;
    right: 20px;
    text-align: right;
}

.nav {
    background-color: #000000;
    width: 740px;
    color: #ffffff;
    font-family: 'Open Sans', Arial, sans-serif;
    text-align: center;
    padding: 10px;
    position: absolute;
    top: 380px;
    left: -50px;
}

